/pulp-2.8.0-0.1.beta.tar.gz
/0001-Move-contents-of-srv-pulp-to-usr-share-pulp-srv.patch
/0002-Update-Pulp-to-work-with-the-pymongo-3.0.0-API.patch
/pulp-2.8.0-0.2.beta.tar.gz
/pulp-2.8.0-0.3.beta.tar.gz
/pulp-2.8.0-0.4.beta.tar.gz
